chat-room-page {
    background-color: #ffe699;

    .list-item span {
        display: inline-block;
        max-width: 500px;
        @media only screen and (max-width: 601px) {
            max-width: 300px;
        }
    }
    .sender-bg {
        background-color: #9cff99;
    }
    .recipient-bg {
        background-color: white;

        .recipient-name {
            font-size: 12px;
            color: grey;
        }
    }
    .message-box {
        width: 100%;
        position: absolute;
        bottom: 0;
        input {
            width: 100%;
        }
    }
    .chat-container {
        overflow-y: auto;
        margin-bottom: 50px;
    }
}