home-page {
    .room-icon {
        width: 60px;
        height: 60px;
    }
    .root {
        background-color: #EEE;
    }
    .list-item {
        background-color: white;
        margin-bottom: 1px;
        cursor: pointer;
    }
}
