$icon-size: 50px;
home-page {
    .room-icon {
        width: $icon-size;
        height: $icon-size;
    }
    .root {
        background-color: #EEE;
    }
    .list-item {
        background-color: white;
        margin-bottom: 1px;
        cursor: pointer;
    }
}
